p {font-family: 'Raleway', sans-serif;
}
p {
    text-align: center;
}
a{
  color:#E7DFDD
}
a:hover{
  color:#4717F6
}
body{
  background-image:url(http://www.spyderonlines.com/images/purple_black_background_spot_65626.jpg)
}
h5{
  text-align:center;
}
