
h1{
  color:#E9E9E9;
  font-family: 'Quicksand', sans-serif;
}

p{
  color:#E9E9E9;
font-family: 'Quicksand', sans-serif;
}

body{
  background-color:#88BBD6
}

.card{
  background-color:#CDCDCD
}

a{
  color:#E9E9E9;
  font-family: 'Quicksand', sans-serif;
}
h2{
  color:#E9E9E9;
  font-family: 'Quicksand', sans-serif;
  text-align:center;
}
