table, th, td {
   border: 1px solid black;
}
p{
  text-align:center;
  font-family: 'Raleway', sans-serif;
  color:white;
}
table, td, p{
  padding:15px;
}
img{
  width:50%;
}
h1{
  text-align:center;
  font-family: 'Raleway', sans-serif;
  color:white;
}
table{
  background-image:url(bluebackground.jpg);
}
body{
  background-color:darkblue;
}
